#logo {
	display:block;
	display:none;
	height: 17em;
	width: 33em;
	margin-top: 7.5em;
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#redbook {
	display:block;
	display:none;
	height: 14em;
	width: 40em;
	margin-top: 23.8em;
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.font {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:50px;
	color: #FFFFFF;
	font-style:normal;
	text-align: center;
	vertical-align: middle;
}

#twitter {
	position:static;
	margin-top: 50em;
	margin-bottom: 7em;
	padding-top:0;
	padding-bottom:0;
	width: 20em;
}

#soundcloud {
	position:static;
	margin-bottom: 7em;
	padding-top:0;
	padding-bottom:0;
	width:27em;	
	height: 6em
}

#Email {
	position:static;
	margin-top:0;
	margin-bottom:0;
	text-align: center;
	padding-top:0;
	padding-bottom:0;
	width:16em;
	height:6em
}

.hideme {
  opacity: 0;
}

.showme {
  opacity:1;
}

.transition {
	transition:all 2.5s ease-in-out;
}

#blank {
	width:100%;
	height:5em;
}

body {
	background-position:top;
	background-repeat: no-repeat;
	background-size:cover;
	background-image:url(backgradientblur1compressed.jpg);
	
}

